@using Diva2Web.Models.Users
@model UserModelUpdateForgotPassword

@{
    ViewData["Title"] = "Změna hesla";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@if (Model.JsonStatus.Status == true)
{


    @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="card" style="max-width: 700px; min-width: 500px">
            <div class="card-body">
                <h5 class="card-title">Přihlášení</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPass, new { @class = "control-label col-lg-12" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.NewPass, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPass)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPass2, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.NewPass2, new { @class = "form-control", @style = "max-width:600px;" })
                            @Html.ValidationMessageFor(model => model.NewPass2)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Ulož nové heslo" class="btn btn-outline-primary" />
                        </div>
                    </div>

                </div>

                <div id="messages">

                </div>

            </div>
        </div>

    }
}
else
{
    <div class="card" style="max-width: 600px; min-width: 400px">
        <div class="card-body">
            <h5 class="card-title">Obnovení hesla</h5>

            @foreach (var msg in Model.JsonStatus.Messages)
            {
                <div class="alert alert-@msg.Type.ToString()" role="alert">
                    @msg.Text;
                </div>
            }


            <a href="/Home/Index" class="btn btn-success">Zpět na rozvrh</a>

        </div>
    </div>
}

