@using Diva2Web.Models.Admin
@model AdminPageModel
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

}

@{
    string styleContainer = "";
    if (Model.MainIniCover.MainStyleObj.BackgroundContainer != "")
    {
        styleContainer = $"background-color: {Model.MainIniCover.MainStyleObj.BackgroundContainer}";
    }
}

<div class="container" style="@styleContainer">
    <partial name="Navbar" model="Model" />

    <div class="row">
        <nav class="col-sm-12 col-md-3">
            @RenderSection("leftMenu", false)
        </nav>
        <main role="main" class="col-sm-12 col-md-9">
            <partial name="BreadCrumb" />
            @RenderBody()
        </main>

    </div>
</div>

@section Head{
    @RenderSection("Head", false)
}

@section Scripts{
    @RenderSection("Scripts", false)
}
@section ScriptsMenu{
    @RenderSection("ScriptsMenu", false)
}


